.choice {
    float: right;
    width: 150px;
    height: 100%;

    background: #f1eaf9;

    overflow: scroll;
}

.choice .manage_panel {
    background: #241b2d;
}

.choice .item {
    font-size: 14px;
    display: block;
    background: #f1eaf9;
    border: 1px #4e3b63 solid;
    line-height: 1.5em;
    margin: 0.5em 0.7em 0.5em 0.7em;
    padding: 0.25em;
    border-radius: 2px;
    text-align: center;

    animation: scale 1s;
    animation-iteration-count: 1;
}

@keyframes scale {
    0%   { transform: scale(1, 0); opacity: 0; filter: blur(10px); }
    100% { transform: scale(1, 1); opacity: 1; filter: blur(0px); }
}

.choice .item:hover {
    opacity: 0.6;
    cursor: pointer;
}
