html, body {
    margin: 0px;
    padding: 0px;
    color: #333;
    overflow: hidden;
    font-family: Helvetica , 'Hiragino Kaku Gothic ProN', "ヒラギノ角ゴ Pro W3" , "Yu Gothic" , "游ゴシック" , Meiryo , "メイリオ" , 'MS PGothic' , sans-serif;
}

#wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#moduleswrapper {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
}
